:root {
  --primary-color: hsl(36, 100%, 99%);
  --grey-color: hsl(233, 8%, 79%);
  --darkgrey-color: hsla(24, 29%, 80%, 0.44);
  --darkblue-color: hsl(236, 13%, 42%);
  --orange-color: hsl(35, 77%, 62%);
  --header-height: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-position: center;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
